backup.json
{"createdAt":"2025-08-28T18:25:48.283Z","updatedAt":"2025-08-28T20:04:33.000Z","id":"WU20Ek7Jp3Rb44qD","name":"Backup","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"afb9a206-e8d9-44fb-a5e6-89eeb5ed5cf9","name":"Execute workflow","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-288,64]},{"parameters":{"options":{}},"id":"1d24235c-b2a3-4446-a639-86dc96ff1b61","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-80,64]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"7e58f7df-457c-40e0-9286-8d7d2f466d7e","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[128,64]},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"JaysonGiri","mode":"list","cachedResultName":"JaysonGiri","cachedResultUrl":"https://github.com/JaysonGiri"},"repository":{"__rl":true,"value":"n8nBackup","mode":"list","cachedResultName":"n8nBackup","cachedResultUrl":"https://github.com/JaysonGiri/n8nBackup"},"filePath":"="},"id":"1b5d5832-bafe-46a7-af72-07823fb95b50","name":"List files from repository [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[320,64],"alwaysOutputData":true,"webhookId":"328b24cf-781c-48ea-8eb2-5b652a8a63bf","credentials":{"githubApi":{"id":"cxrXKwNklLFxRrb6","name":"GitHub account"}}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"f86aa784-15d9-4be3-869f-da632a9020b1","name":"Combine file names [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[512,64]},{"parameters":{"filters":{},"requestOptions":{}},"id":"5b84b81a-8a27-4c02-8840-ef16ac33a53b","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[720,64],"credentials":{"n8nApi":{"id":"hVtQcrogSbVsgay2","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}.json"}},"id":"05f8510b-6ea7-41d7-8a68-63398f699d41","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[912,64]},{"parameters":{"batchSize":1,"options":{}},"id":"7706da9d-9f2a-4224-9655-d2d77a5ae885","name":"Split to single items","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[1152,64]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"3420d036-212f-43d9-98f3-3af1fd8a8c6d","name":"Check if file exists in repository","type":"n8n-nodes-base.if","typeVersion":1,"position":[1392,48]},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"JaysonGiri","mode":"list","cachedResultName":"JaysonGiri","cachedResultUrl":"https://github.com/JaysonGiri"},"repository":{"__rl":true,"value":"n8nBackup","mode":"list","cachedResultName":"n8nBackup","cachedResultUrl":"https://github.com/JaysonGiri/n8nBackup"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Format date'].json.formattedDate }}"},"id":"5aad518e-f242-4fb2-9cb4-d23df4d83ea6","name":"Update file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[1616,-192],"webhookId":"5bb2ab39-3d3f-406f-bd91-55497df0f3e3","credentials":{"githubApi":{"id":"cxrXKwNklLFxRrb6","name":"GitHub account"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"JaysonGiri","mode":"list","cachedResultName":"JaysonGiri","cachedResultUrl":"https://github.com/JaysonGiri"},"repository":{"__rl":true,"value":"n8nBackup","mode":"list","cachedResultName":"n8nBackup","cachedResultUrl":"https://github.com/JaysonGiri/n8nBackup"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Format date'].json.formattedDate }}"},"id":"9d8f3ac0-1c8f-4f51-83e1-c7fa15cc7a4d","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[1616,192],"webhookId":"49107fb4-f47f-46b5-b126-c4de679447b1","credentials":{"githubApi":{"id":"cxrXKwNklLFxRrb6","name":"GitHub account"}}},{"parameters":{"jsCode":"const orderJsonKeys = (jsonObj) => {\n  const ordered = {};\n  Object.keys(jsonObj).sort().forEach(key => {\n    ordered[key] = jsonObj[key];\n  });\n  return ordered;\n}\n\n// Check if file returned with content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Decode base64 content and parse JSON\n  const origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64').toString());\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n// No file returned / new workflow\n} else if (Object.keys($input.all()[0].json).includes(\"data\")) {\n  const origWorkflow = JSON.parse($input.all()[0].json.data);\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n\n} else {\n  // Order JSON object\n  const n8nWorkflow = $input.all()[1].json;\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n  \n  // Proper formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return items\nreturn $input.all();"},"id":"4b2b656c-b93d-410e-8ff9-f2dc7c864c39","name":"isDiffOrNew","type":"n8n-nodes-base.code","position":[1120,464],"typeVersion":1},{"parameters":{"dataType":"string","value1":"={{$json.github_status}}","rules":{"rules":[{"value2":"same"},{"value2":"different","output":1},{"value2":"new","output":2}]}},"id":"2beb796c-8d61-44ab-ae5f-a2ef7c514e58","name":"Check Status","type":"n8n-nodes-base.switch","position":[1440,464],"typeVersion":1},{"parameters":{},"id":"13d59acf-5343-4ec5-8ca0-13351c5e7510","name":"Same file - Do nothing","type":"n8n-nodes-base.noOp","position":[1904,384],"typeVersion":1},{"parameters":{},"id":"ec6db4fe-b819-4bb4-bbb4-652f8690c9cb","name":"File is different","type":"n8n-nodes-base.noOp","position":[1904,560],"typeVersion":1},{"parameters":{},"id":"71743a24-9a12-4ea3-ba15-55615b8553e7","name":"File is new","type":"n8n-nodes-base.noOp","position":[1904,736],"typeVersion":1},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"JaysonGiri","mode":"list","cachedResultName":"JaysonGiri","cachedResultUrl":"https://github.com/JaysonGiri"},"repository":{"__rl":true,"value":"n8nBackup","mode":"list","cachedResultName":"n8nBackup","cachedResultUrl":"https://github.com/JaysonGiri/n8nBackup"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"e337bd1e-ab2b-4da0-bdae-b41a04bb18cd","name":"Upload file [GITHUB]1","type":"n8n-nodes-base.github","typeVersion":1,"position":[2144,736],"webhookId":"49107fb4-f47f-46b5-b126-c4de679447b1","credentials":{"githubApi":{"id":"cxrXKwNklLFxRrb6","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"JaysonGiri","mode":"list","cachedResultName":"JaysonGiri","cachedResultUrl":"https://github.com/JaysonGiri"},"repository":{"__rl":true,"value":"n8nBackup","mode":"list","cachedResultName":"n8nBackup","cachedResultUrl":"https://github.com/JaysonGiri/n8nBackup"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"be656a21-3cdc-4d9b-a563-b71237831a11","name":"Upload file [GITHUB]2","type":"n8n-nodes-base.github","typeVersion":1,"position":[2144,560],"webhookId":"49107fb4-f47f-46b5-b126-c4de679447b1","credentials":{"githubApi":{"id":"cxrXKwNklLFxRrb6","name":"GitHub account"}}}],"connections":{"Execute workflow":{"main":[[{"node":"Set date","type":"main","index":0}]]},"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"List files from repository [GITHUB]","type":"main","index":0}]]},"List files from repository [GITHUB]":{"main":[[{"node":"Combine file names [GITHUB]","type":"main","index":0}]]},"Combine file names [GITHUB]":{"main":[[{"node":"Retrieve workflows [N8N]","type":"main","index":0}]]},"Retrieve workflows [N8N]":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Move JSON to binary":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Split to single items":{"main":[[{"node":"Check if file exists in repository","type":"main","index":0}]]},"Check if file exists in repository":{"main":[[{"node":"Update file [GITHUB]","type":"main","index":0}],[{"node":"Upload file [GITHUB]","type":"main","index":0}]]},"Update file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"isDiffOrNew":{"main":[[{"node":"Check Status","type":"main","index":0}]]},"Check Status":{"main":[[{"node":"Same file - Do nothing","type":"main","index":0}],[{"node":"File is different","type":"main","index":0}],[{"node":"File is new","type":"main","index":0}]]},"File is new":{"main":[[{"node":"Upload file [GITHUB]1","type":"main","index":0}]]},"File is different":{"main":[[{"node":"Upload file [GITHUB]2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Chicago","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4fda9c8f-4f7d-4d61-8530-169100fb0ee7","triggerCount":0,"tags":[]}