cobol-code-test.json
{"createdAt":"2025-08-27T04:04:37.308Z","updatedAt":"2025-08-27T20:19:18.000Z","id":"aVPfQQLD9L11mGW1","name":"Cobol Code test","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"188sSv1gBVrELWG5scXPwfiKsiSEak8gw","mode":"list","cachedResultName":"Cobol Code","cachedResultUrl":"https://drive.google.com/drive/folders/188sSv1gBVrELWG5scXPwfiKsiSEak8gw"},"event":"fileCreated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[0,0],"id":"f907abac-367d-49e6-95f4-6ef9c17b6493","name":"Google Drive Trigger","credentials":{"googleDriveOAuth2Api":{"id":"aFltr3YxICjzcWgz","name":"Google Drive account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[208,0],"id":"f816cbfa-b56f-4136-b2d6-1801f33aaedd","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"aFltr3YxICjzcWgz","name":"Google Drive account"}}},{"parameters":{"operation":"text","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[416,0],"id":"cab8e8ad-6bce-4ab7-8d63-0bd0777e8d16","name":"Extract from File"},{"parameters":{"promptType":"define","text":"={{ $json.data }}","options":{"systemMessage":"#$Role\nYou are an exper at handling COBOL programs.\n\n##Task\n1. Trace the flow of the program\n2. Extract business rules in the program code"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[624,0],"id":"c49b3cc8-0867-4438-a975-d00e45cd417c","name":"AI Agent"},{"parameters":{"options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[976,0],"id":"a328d369-2d7c-4d10-87a5-af40320c9970","name":"Convert to File"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[496,208],"id":"1c9363b2-9b1c-428c-ba93-8175732f3cfc","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"sQgm1nDgqlLg6N3x","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"name":"=Cobol File({{ $('Google Drive Trigger').item.json.name }}) Gemini2.5Flash.csv","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1s0q1cJDVZUK6vWDQ76lTinl19n-r6OPj","mode":"list","cachedResultName":"Cobol Testing","cachedResultUrl":"https://drive.google.com/drive/folders/1s0q1cJDVZUK6vWDQ76lTinl19n-r6OPj"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1184,0],"id":"8f54f5c6-6c60-484b-8c2b-3a51b930698e","name":"Upload file","credentials":{"googleDriveOAuth2Api":{"id":"aFltr3YxICjzcWgz","name":"Google Drive account"}}}],"connections":{"Google Drive Trigger":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Convert to File":{"main":[[{"node":"Upload file","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"678f9dd4-cb87-496a-8681-d7b2393a31a0","triggerCount":0,"tags":[]}