workflows/xT8iskvAJZ9vSwEs.json
{
  "active": false,
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "X12 EDI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "X12 EDI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "X12 EDI Agent": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-27T02:08:28.347Z",
  "id": "xT8iskvAJZ9vSwEs",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "X12 EDI Extraction Workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1bekq_vE6ALhnWlHKCnyq_w3dXINlDLM4",
          "mode": "list",
          "cachedResultName": "x12 edi",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1bekq_vE6ALhnWlHKCnyq_w3dXINlDLM4"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "a43fc522-ce63-4b82-8dfc-6abea4113902",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "aFltr3YxICjzcWgz",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        192,
        0
      ],
      "id": "a935dd10-36de-481b-afa1-0e55b699db7c",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "aFltr3YxICjzcWgz",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        400,
        0
      ],
      "id": "eda61b33-573f-46a4-a8fc-86df8405fbb0",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        496,
        192
      ],
      "id": "0df32c4b-aa2c-4ca3-af76-f9a3fa3a64dd",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "sQgm1nDgqlLg6N3x",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        944,
        0
      ],
      "id": "f9a4069e-4962-4247-b844-611f6bf1156e",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data }}",
        "options": {
          "systemMessage": "=Process this X12 837 EDI File and convert it to a more consumable format\n\nProvide the following fields for each claim:\n\n\"Claim Number\":\n\"Patient\": \n\"Patient ID\": \n\"Service Date\": \n\"Provider\": \n\"Diagnosis Codes\": \n\"Total Charge\": \n\"Services Rendered\": \n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        592,
        0
      ],
      "id": "71e13b13-e484-4a50-927e-b0b7931ae141",
      "name": "X12 EDI Agent"
    },
    {
      "parameters": {
        "name": "=X12 {{ $('Google Drive Trigger').item.json.name }} File Gemini2.5Flash.csv",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1DV-kZY0pQBP_c7YPHk2AZ7Rqihl8WAY_",
          "mode": "list",
          "cachedResultName": "X12 EDI Testing",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1DV-kZY0pQBP_c7YPHk2AZ7Rqihl8WAY_"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1152,
        0
      ],
      "id": "48193f54-f507-41ad-bb9a-c0583beed455",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "aFltr3YxICjzcWgz",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {
    "X12 EDI Agent": [
      {
        "json": {
          "output": "```json\n[\n  {\n    \"Claim Number\": \"CLM000001\",\n    \"Patient\": \"TAYLOR JOHNSON001\",\n    \"Patient ID\": \"MCID000001\",\n    \"Service Date\": \"20250702\",\n    \"Provider\": \"DR001 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"E119\",\n      \"Z0001\",\n      \"R051\",\n      \"E669\"\n    ],\n    \"Total Charge\": \"150.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"36415\",\n        \"Charge\": \"200.00\",\n        \"Service Date\": \"20250702\"\n      },\n      {\n        \"Procedure Code\": \"90658\",\n        \"Charge\": \"50.00\",\n        \"Service Date\": \"20250702\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000002\",\n    \"Patient\": \"JANE TAYLOR002\",\n    \"Patient ID\": \"MCID000002\",\n    \"Service Date\": \"20250703\",\n    \"Provider\": \"DR002 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"M545\",\n      \"R051\"\n    ],\n    \"Total Charge\": \"200.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"93000\",\n        \"Charge\": \"175.00\",\n        \"Service Date\": \"20250703\"\n      },\n      {\n        \"Procedure Code\": \"90658\",\n        \"Charge\": \"50.00\",\n        \"Service Date\": \"20250703\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000003\",\n    \"Patient\": \"TAYLOR WILSON003\",\n    \"Patient ID\": \"MCID000003\",\n    \"Service Date\": \"20250704\",\n    \"Provider\": \"DR003 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"K219\",\n      \"R051\"\n    ],\n    \"Total Charge\": \"125.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"99213\",\n        \"Charge\": \"50.00\",\n        \"Service Date\": \"20250704\"\n      },\n      {\n        \"Procedure Code\": \"85025\",\n        \"Charge\": \"75.00\",\n        \"Service Date\": \"20250704\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000004\",\n    \"Patient\": \"MORGAN JOHNSON004\",\n    \"Patient ID\": \"MCID000004\",\n    \"Service Date\": \"20250705\",\n    \"Provider\": \"DR004 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"Z0000\",\n      \"Z0001\",\n      \"R531\"\n    ],\n    \"Total Charge\": \"100.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"99214\",\n        \"Charge\": \"125.00\",\n        \"Service Date\": \"20250705\"\n      },\n      {\n        \"Procedure Code\": \"90658\",\n        \"Charge\": \"75.00\",\n        \"Service Date\": \"20250705\"\n      },\n      {\n        \"Procedure Code\": \"71046\",\n        \"Charge\": \"150.00\",\n        \"Service Date\": \"20250705\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000005\",\n    \"Patient\": \"MORGAN BROWN005\",\n    \"Patient ID\": \"MCID000005\",\n    \"Service Date\": \"20250706\",\n    \"Provider\": \"DR005 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"Z0000\",\n      \"G4733\",\n      \"Z0001\",\n      \"E669\"\n    ],\n    \"Total Charge\": \"150.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"11721\",\n        \"Charge\": \"175.00\",\n        \"Service Date\": \"20250706\"\n      },\n      {\n        \"Procedure Code\": \"90471\",\n        \"Charge\": \"50.00\",\n        \"Service Date\": \"20250706\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000006\",\n    \"Patient\": \"ALEX TAYLOR006\",\n    \"Patient ID\": \"MCID000006\",\n    \"Service Date\": \"20250707\",\n    \"Provider\": \"DR006 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"K219\",\n      \"R051\"\n    ],\n    \"Total Charge\": \"225.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"97110\",\n        \"Charge\": \"150.00\",\n        \"Service Date\": \"20250707\"\n      },\n      {\n        \"Procedure Code\": \"99213\",\n        \"Charge\": \"100.00\",\n        \"Service Date\": \"20250707\"\n      },\n      {\n        \"Procedure Code\": \"90658\",\n        \"Charge\": \"50.00\",\n        \"Service Date\": \"20250707\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000007\",\n    \"Patient\": \"DREW TAYLOR007\",\n    \"Patient ID\": \"MCID000007\",\n    \"Service Date\": \"20250708\",\n    \"Provider\": \"DR007 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"E119\",\n      \"E669\",\n      \"Z0001\",\n      \"R531\"\n    ],\n    \"Total Charge\": \"125.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"36415\",\n        \"Charge\": \"75.00\",\n        \"Service Date\": \"20250708\"\n      },\n      {\n        \"Procedure Code\": \"90658\",\n        \"Charge\": \"75.00\",\n        \"Service Date\": \"20250708\"\n      },\n      {\n        \"Procedure Code\": \"90471\",\n        \"Charge\": \"100.00\",\n        \"Service Date\": \"20250708\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000008\",\n    \"Patient\": \"TAYLOR MOORE008\",\n    \"Patient ID\": \"MCID000008\",\n    \"Service Date\": \"20250709\",\n    \"Provider\": \"DR008 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"K219\",\n      \"R051\"\n    ],\n    \"Total Charge\": \"100.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"80053\",\n        \"Charge\": \"75.00\",\n        \"Service Date\": \"20250709\"\n      },\n      {\n        \"Procedure Code\": \"99214\",\n        \"Charge\": \"100.00\",\n        \"Service Date\": \"20250709\"\n      },\n      {\n        \"Procedure Code\": \"85025\",\n        \"Charge\": \"125.00\",\n        \"Service Date\": \"20250709\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000009\",\n    \"Patient\": \"CASEY DOE009\",\n    \"Patient ID\": \"MCID000009\",\n    \"Service Date\": \"20250710\",\n    \"Provider\": \"DR009 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"Z0000\",\n      \"Z0001\"\n    ],\n    \"Total Charge\": \"225.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"71046\",\n        \"Charge\": \"125.00\",\n        \"Service Date\": \"20250710\"\n      },\n      {\n        \"Procedure Code\": \"90471\",\n        \"Charge\": \"75.00\",\n        \"Service Date\": \"20250710\"\n      },\n      {\n        \"Procedure Code\": \"11721\",\n        \"Charge\": \"175.00\",\n        \"Service Date\": \"20250710\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000010\",\n    \"Patient\": \"KIM DAVIS010\",\n    \"Patient ID\": \"MCID000010\",\n    \"Service Date\": \"20250711\",\n    \"Provider\": \"DR010 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"Z0000\",\n      \"R051\",\n      \"M25511\"\n    ],\n    \"Total Charge\": \"150.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"97110\",\n        \"Charge\": \"200.00\",\n        \"Service Date\": \"20250711\"\n      },\n      {\n        \"Procedure Code\": \"97110\",\n        \"Charge\": \"175.00\",\n        \"Service Date\": \"20250711\"\n      },\n      {\n        \"Procedure Code\": \"11721\",\n        \"Charge\": \"200.00\",\n        \"Service Date\": \"20250711\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000011\",\n    \"Patient\": \"DREW MOORE011\",\n    \"Patient ID\": \"MCID000011\",\n    \"Service Date\": \"20250712\",\n    \"Provider\": \"DR011 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"E119\",\n      \"R531\",\n      \"R051\",\n      \"M25511\"\n    ],\n    \"Total Charge\": \"175.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"99213\",\n        \"Charge\": \"175.00\",\n        \"Service Date\": \"20250712\"\n      },\n      {\n        \"Procedure Code\": \"71046\",\n        \"Charge\": \"75.00\",\n        \"Service Date\": \"20250712\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000012\",\n    \"Patient\": \"CASEY DOE012\",\n    \"Patient ID\": \"MCID000012\",\n    \"Service Date\": \"20250713\",\n    \"Provider\": \"DR012 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"I10\",\n      \"E669\",\n      \"R531\",\n      \"Z0001\"\n    ],\n    \"Total Charge\": \"150.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"90658\",\n        \"Charge\": \"125.00\",\n        \"Service Date\": \"20250713\"\n      },\n      {\n        \"Procedure Code\": \"99214\",\n        \"Charge\": \"150.00\",\n        \"Service Date\": \"20250713\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000013\",\n    \"Patient\": \"DREW DAVIS013\",\n    \"Patient ID\": \"MCID000013\",\n    \"Service Date\": \"20250714\",\n    \"Provider\": \"DR013 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"Z0000\",\n      \"Z136\",\n      \"G4733\"\n    ],\n    \"Total Charge\": \"175.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"85025\",\n        \"Charge\": \"200.00\",\n        \"Service Date\": \"20250714\"\n      },\n      {\n        \"Procedure Code\": \"99213\",\n        \"Charge\": \"200.00\",\n        \"Service Date\": \"20250714\"\n      },\n      {\n        \"Procedure Code\": \"97014\",\n        \"Charge\": \"200.00\",\n        \"Service Date\": \"20250714\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000014\",\n    \"Patient\": \"SAM WILSON014\",\n    \"Patient ID\": \"MCID000014\",\n    \"Service Date\": \"20250715\",\n    \"Provider\": \"DR014 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"M545\",\n      \"E669\",\n      \"Z794\",\n      \"R531\"\n    ],\n    \"Total Charge\": \"125.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"80053\",\n        \"Charge\": \"150.00\",\n        \"Service Date\": \"20250715\"\n      },\n      {\n        \"Procedure Code\": \"93000\",\n        \"Charge\": \"150.00\",\n        \"Service Date\": \"20250715\"\n      },\n      {\n        \"Procedure Code\": \"71046\",\n        \"Charge\": \"125.00\",\n        \"Service Date\": \"20250715\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000015\",\n    \"Patient\": \"LEE JOHNSON015\",\n    \"Patient ID\": \"MCID000015\",\n    \"Service Date\": \"20250716\",\n    \"Provider\": \"DR015 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"K219\",\n      \"Z794\"\n    ],\n    \"Total Charge\": \"150.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"85025\",\n        \"Charge\": \"100.00\",\n        \"Service Date\": \"20250716\"\n      },\n      {\n        \"Procedure Code\": \"11721\",\n        \"Charge\": \"200.00\",\n        \"Service Date\": \"20250716\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000016\",\n    \"Patient\": \"LEE TAYLOR016\",\n    \"Patient ID\": \"MCID000016\",\n    \"Service Date\": \"20250717\",\n    \"Provider\": \"DR016 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"M545\",\n      \"M25511\",\n      \"G4733\"\n    ],\n    \"Total Charge\": \"100.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"80053\",\n        \"Charge\": \"175.00\",\n        \"Service Date\": \"20250717\"\n      },\n      {\n        \"Procedure Code\": \"99213\",\n        \"Charge\": \"50.00\",\n        \"Service Date\": \"20250717\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000017\",\n    \"Patient\": \"JORDAN SMITH017\",\n    \"Patient ID\": \"MCID000017\",\n    \"Service Date\": \"20250718\",\n    \"Provider\": \"DR017 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"E119\",\n      \"G4733\"\n    ],\n    \"Total Charge\": \"225.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"99213\",\n        \"Charge\": \"150.00\",\n        \"Service Date\": \"20250718\"\n      },\n      {\n        \"Procedure Code\": \"80053\",\n        \"Charge\": \"100.00\",\n        \"Service Date\": \"20250718\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000018\",\n    \"Patient\": \"LEE MOORE018\",\n    \"Patient ID\": \"MCID000018\",\n    \"Service Date\": \"20250719\",\n    \"Provider\": \"DR018 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"K219\",\n      \"Z136\",\n      \"G4733\"\n    ],\n    \"Total Charge\": \"125.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"97014\",\n        \"Charge\": \"75.00\",\n        \"Service Date\": \"20250719\"\n      },\n      {\n        \"Procedure Code\": \"80053\",\n        \"Charge\": \"75.00\",\n        \"Service Date\": \"20250719\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000019\",\n    \"Patient\": \"JANE SMITH019\",\n    \"Patient ID\": \"MCID000019\",\n    \"Service Date\": \"20250720\",\n    \"Provider\": \"DR019 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"K219\",\n      \"Z136\",\n      \"Z794\",\n      \"R051\"\n    ],\n    \"Total Charge\": \"100.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"93000\",\n        \"Charge\": \"50.00\",\n        \"Service Date\": \"20250720\"\n      },\n      {\n        \"Procedure Code\": \"80053\",\n        \"Charge\": \"150.00\",\n        \"Service Date\": \"20250720\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000020\",\n    \"Patient\": \"MORGAN MILLER020\",\n    \"Patient ID\": \"MCID000020\",\n    \"Service Date\": \"20250721\",\n    \"Provider\": \"DR020 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"I10\",\n      \"G4733\",\n      \"M25511\"\n    ],\n    \"Total Charge\": \"150.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"97110\",\n        \"Charge\": \"200.00\",\n        \"Service Date\": \"20250721\"\n      },\n      {\n        \"Procedure Code\": \"97014\",\n        \"Charge\": \"100.00\",\n        \"Service Date\": \"20250721\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000021\",\n    \"Patient\": \"KIM WILSON021\",\n    \"Patient ID\": \"MCID000021\",\n    \"Service Date\": \"20250722\",\n    \"Provider\": \"DR021 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"E119\",\n      \"M25511\",\n      \"Z136\"\n    ],\n    \"Total Charge\": \"225.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"90658\",\n        \"Charge\": \"125.00\",\n        \"Service Date\": \"20250722\"\n      },\n      {\n        \"Procedure Code\": \"90658\",\n        \"Charge\": \"200.00\",\n        \"Service Date\": \"20250722\"\n      },\n      {\n        \"Procedure Code\": \"85025\",\n        \"Charge\": \"200.00\",\n        \"Service Date\": \"20250722\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000022\",\n    \"Patient\": \"DREW WILSON022\",\n    \"Patient ID\": \"MCID000022\",\n    \"Service Date\": \"20250723\",\n    \"Provider\": \"DR022 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"E119\",\n      \"E669\"\n    ],\n    \"Total Charge\": \"100.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"11721\",\n        \"Charge\": \"75.00\",\n        \"Service Date\": \"20250723\"\n      },\n      {\n        \"Procedure Code\": \"90658\",\n        \"Charge\": \"125.00\",\n        \"Service Date\": \"20250723\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000023\",\n    \"Patient\": \"LEE DOE023\",\n    \"Patient ID\": \"MCID000023\",\n    \"Service Date\": \"20250724\",\n    \"Provider\": \"DR023 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"J45909\",\n      \"R051\",\n      \"Z0001\"\n    ],\n    \"Total Charge\": \"225.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"90471\",\n        \"Charge\": \"150.00\",\n        \"Service Date\": \"20250724\"\n      },\n      {\n        \"Procedure Code\": \"85025\",\n        \"Charge\": \"125.00\",\n        \"Service Date\": \"20250724\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000024\",\n    \"Patient\": \"JOHN MILLER024\",\n    \"Patient ID\": \"MCID000024\",\n    \"Service Date\": \"20250725\",\n    \"Provider\": \"DR024 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"J45909\",\n      \"Z0001\",\n      \"R051\"\n    ],\n    \"Total Charge\": \"175.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"99214\",\n        \"Charge\": \"200.00\",\n        \"Service Date\": \"20250725\"\n      },\n      {\n        \"Procedure Code\": \"97014\",\n        \"Charge\": \"75.00\",\n        \"Service Date\": \"20250725\"\n      },\n      {\n        \"Procedure Code\": \"97110\",\n        \"Charge\": \"150.00\",\n        \"Service Date\": \"20250725\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000025\",\n    \"Patient\": \"JORDAN TAYLOR025\",\n    \"Patient ID\": \"MCID000025\",\n    \"Service Date\": \"20250726\",\n    \"Provider\": \"DR025 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"K219\",\n      \"G4733\",\n      \"Z0001\",\n      \"E669\"\n    ],\n    \"Total Charge\": \"100.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"85025\",\n        \"Charge\": \"50.00\",\n        \"Service Date\": \"20250726\"\n      },\n      {\n        \"Procedure Code\": \"97110\",\n        \"Charge\": \"75.00\",\n        \"Service Date\": \"20250726\"\n      },\n      {\n        \"Procedure Code\": \"36415\",\n        \"Charge\": \"200.00\",\n        \"Service Date\": \"20250726\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000026\",\n    \"Patient\": \"JOHN MOORE026\",\n    \"Patient ID\": \"MCID000026\",\n    \"Service Date\": \"20250727\",\n    \"Provider\": \"DR026 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"J45909\",\n      \"Z794\",\n      \"R051\"\n    ],\n    \"Total Charge\": \"175.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"97110\",\n        \"Charge\": \"150.00\",\n        \"Service Date\": \"20250727\"\n      },\n      {\n        \"Procedure Code\": \"11721\",\n        \"Charge\": \"200.00\",\n        \"Service Date\": \"20250727\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000027\",\n    \"Patient\": \"JANE SMITH027\",\n    \"Patient ID\": \"MCID000027\",\n    \"Service Date\": \"20250728\",\n    \"Provider\": \"DR027 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"Z0000\",\n      \"M25511\"\n    ],\n    \"Total Charge\": \"150.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"90658\",\n        \"Charge\": \"75.00\",\n        \"Service Date\": \"20250728\"\n      },\n      {\n        \"Procedure Code\": \"99213\",\n        \"Charge\": \"200.00\",\n        \"Service Date\": \"20250728\"\n      },\n      {\n        \"Procedure Code\": \"36415\",\n        \"Charge\": \"175.00\",\n        \"Service Date\": \"20250728\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000028\",\n    \"Patient\": \"MORGAN BROWN028\",\n    \"Patient ID\": \"MCID000028\",\n    \"Service Date\": \"20250701\",\n    \"Provider\": \"DR028 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"K219\",\n      \"M25511\",\n      \"R531\"\n    ],\n    \"Total Charge\": \"100.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"80053\",\n        \"Charge\": \"75.00\",\n        \"Service Date\": \"20250701\"\n      },\n      {\n        \"Procedure Code\": \"90658\",\n        \"Charge\": \"100.00\",\n        \"Service Date\": \"20250701\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000029\",\n    \"Patient\": \"TAYLOR JOHNSON029\",\n    \"Patient ID\": \"MCID000029\",\n    \"Service Date\": \"20250702\",\n    \"Provider\": \"DR029 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"M545\",\n      \"R051\"\n    ],\n    \"Total Charge\": \"125.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"85025\",\n        \"Charge\": \"200.00\",\n        \"Service Date\": \"20250702\"\n      },\n      {\n        \"Procedure Code\": \"11721\",\n        \"Charge\": \"175.00\",\n        \"Service Date\": \"20250702\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000030\",\n    \"Patient\": \"LEE ANDERSON030\",\n    \"Patient ID\": \"MCID000030\",\n    \"Service Date\": \"20250703\",\n    \"Provider\": \"DR030 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"I10\",\n      \"E669\",\n      \"G4733\"\n    ],\n    \"Total Charge\": \"225.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"93000\",\n        \"Charge\": \"200.00\",\n        \"Service Date\": \"20250703\"\n      },\n      {\n        \"Procedure Code\": \"99214\",\n        \"Charge\": \"125.00\",\n        \"Service Date\": \"20250703\"\n      },\n      {\n        \"Procedure Code\": \"85025\",\n        \"Charge\": \"150.00\",\n        \"Service Date\": \"20250703\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000031\",\n    \"Patient\": \"DREW THOMAS031\",\n    \"Patient ID\": \"MCID000031\",\n    \"Service Date\": \"20250704\",\n    \"Provider\": \"DR031 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"Z0000\",\n      \"Z136\"\n    ],\n    \"Total Charge\": \"150.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"11721\",\n        \"Charge\": \"150.00\",\n        \"Service Date\": \"20250704\"\n      },\n      {\n        \"Procedure Code\": \"71046\",\n        \"Charge\": \"175.00\",\n        \"Service Date\": \"20250704\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000032\",\n    \"Patient\": \"ALEX TAYLOR032\",\n    \"Patient ID\": \"MCID000032\",\n    \"Service Date\": \"20250705\",\n    \"Provider\": \"DR032 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"K219\",\n      \"R051\",\n      \"Z136\"\n    ],\n    \"Total Charge\": \"125.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"85025\",\n        \"Charge\": \"100.00\",\n        \"Service Date\": \"20250705\"\n      },\n      {\n        \"Procedure Code\": \"90658\",\n        \"Charge\": \"200.00\",\n        \"Service Date\": \"20250705\"\n      },\n      {\n        \"Procedure Code\": \"71046\",\n        \"Charge\": \"100.00\",\n        \"Service Date\": \"20250705\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000033\",\n    \"Patient\": \"JOHN DAVIS033\",\n    \"Patient ID\": \"MCID000033\",\n    \"Service Date\": \"20250706\",\n    \"Provider\": \"DR033 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"I10\",\n      \"Z794\",\n      \"G4733\",\n      \"E669\"\n    ],\n    \"Total Charge\": \"175.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"85025\",\n        \"Charge\": \"150.00\",\n        \"Service Date\": \"20250706\"\n      },\n      {\n        \"Procedure Code\": \"93000\",\n        \"Charge\": \"100.00\",\n        \"Service Date\": \"20250706\"\n      },\n      {\n        \"Procedure Code\": \"85025\",\n        \"Charge\": \"200.00\",\n        \"Service Date\": \"20250706\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000034\",\n    \"Patient\": \"JORDAN MARTIN034\",\n    \"Patient ID\": \"MCID000034\",\n    \"Service Date\": \"20250707\",\n    \"Provider\": \"DR034 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"M545\",\n      \"G4733\",\n      \"R531\",\n      \"Z794\"\n    ],\n    \"Total Charge\": \"150.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"99213\",\n        \"Charge\": \"175.00\",\n        \"Service Date\": \"20250707\"\n      },\n      {\n        \"Procedure Code\": \"99213\",\n        \"Charge\": \"150.00\",\n        \"Service Date\": \"20250707\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000035\",\n    \"Patient\": \"TAYLOR JOHNSON035\",\n    \"Patient ID\": \"MCID000035\",\n    \"Service Date\": \"20250708\",\n    \"Provider\": \"DR035 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"J45909\",\n      \"R531\"\n    ],\n    \"Total Charge\": \"100.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"99213\",\n        \"Charge\": \"200.00\",\n        \"Service Date\": \"20250708\"\n      },\n      {\n        \"Procedure Code\": \"99214\",\n        \"Charge\": \"50.00\",\n        \"Service Date\": \"20250708\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000036\",\n    \"Patient\": \"DREW DAVIS036\",\n    \"Patient ID\": \"MCID000036\",\n    \"Service Date\": \"20250709\",\n    \"Provider\": \"DR036 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"J45909\",\n      \"G4733\",\n      \"M25511\"\n    ],\n    \"Total Charge\": \"200.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"80053\",\n        \"Charge\": \"75.00\",\n        \"Service Date\": \"20250709\"\n      },\n      {\n        \"Procedure Code\": \"90471\",\n        \"Charge\": \"75.00\",\n        \"Service Date\": \"20250709\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000037\",\n    \"Patient\": \"ALEX MARTIN037\",\n    \"Patient ID\": \"MCID000037\",\n    \"Service Date\": \"20250710\",\n    \"Provider\": \"DR037 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"E119\",\n      \"R531\",\n      \"Z136\",\n      \"E669\"\n    ],\n    \"Total Charge\": \"100.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"80053\",\n        \"Charge\": \"50.00\",\n        \"Service Date\": \"20250710\"\n      },\n      {\n        \"Procedure Code\": \"36415\",\n        \"Charge\": \"75.00\",\n        \"Service Date\": \"20250710\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000038\",\n    \"Patient\": \"JANE SMITH038\",\n    \"Patient ID\": \"MCID000038\",\n    \"Service Date\": \"20250711\",\n    \"Provider\": \"DR038 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"K219\",\n      \"Z136\",\n      \"M25511\"\n    ],\n    \"Total Charge\": \"125.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"90658\",\n        \"Charge\": \"50.00\",\n        \"Service Date\": \"20250711\"\n      },\n      {\n        \"Procedure Code\": \"90658\",\n        \"Charge\": \"200.00\",\n        \"Service Date\": \"20250711\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000039\",\n    \"Patient\": \"ALEX TAYLOR039\",\n    \"Patient ID\": \"MCID000039\",\n    \"Service Date\": \"20250712\",\n    \"Provider\": \"DR039 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"J45909\",\n      \"G4733\",\n      \"Z794\",\n      \"E669\"\n    ],\n    \"Total Charge\": \"125.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"71046\",\n        \"Charge\": \"200.00\",\n        \"Service Date\": \"20250712\"\n      },\n      {\n        \"Procedure Code\": \"97110\",\n        \"Charge\": \"175.00\",\n        \"Service Date\": \"20250712\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000040\",\n    \"Patient\": \"RILEY ANDERSON040\",\n    \"Patient ID\": \"MCID000040\",\n    \"Service Date\": \"20250713\",\n    \"Provider\": \"DR040 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"M545\",\n      \"M25511\"\n    ],\n    \"Total Charge\": \"175.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"99213\",\n        \"Charge\": \"50.00\",\n        \"Service Date\": \"20250713\"\n      },\n      {\n        \"Procedure Code\": \"80053\",\n        \"Charge\": \"50.00\",\n        \"Service Date\": \"20250713\"\n      },\n      {\n        \"Procedure Code\": \"99213\",\n        \"Charge\": \"150.00\",\n        \"Service Date\": \"20250713\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000041\",\n    \"Patient\": \"TAYLOR MOORE041\",\n    \"Patient ID\": \"MCID000041\",\n    \"Service Date\": \"20250714\",\n    \"Provider\": \"DR041 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"K219\",\n      \"M25511\"\n    ],\n    \"Total Charge\": \"175.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"71046\",\n        \"Charge\": \"150.00\",\n        \"Service Date\": \"20250714\"\n      },\n      {\n        \"Procedure Code\": \"97110\",\n        \"Charge\": \"125.00\",\n        \"Service Date\": \"20250714\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000042\",\n    \"Patient\": \"LEE ANDERSON042\",\n    \"Patient ID\": \"MCID000042\",\n    \"Service Date\": \"20250715\",\n    \"Provider\": \"DR042 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"M545\",\n      \"M25511\",\n      \"Z136\"\n    ],\n    \"Total Charge\": \"225.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"99213\",\n        \"Charge\": \"50.00\",\n        \"Service Date\": \"20250715\"\n      },\n      {\n        \"Procedure Code\": \"11721\",\n        \"Charge\": \"50.00\",\n        \"Service Date\": \"20250715\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000043\",\n    \"Patient\": \"MORGAN BROWN043\",\n    \"Patient ID\": \"MCID000043\",\n    \"Service Date\": \"20250716\",\n    \"Provider\": \"DR043 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"I10\",\n      \"R051\",\n      \"G4733\",\n      \"E669\"\n    ],\n    \"Total Charge\": \"150.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"97110\",\n        \"Charge\": \"50.00\",\n        \"Service Date\": \"20250716\"\n      },\n      {\n        \"Procedure Code\": \"11721\",\n        \"Charge\": \"175.00\",\n        \"Service Date\": \"20250716\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000044\",\n    \"Patient\": \"JANE THOMAS044\",\n    \"Patient ID\": \"MCID000044\",\n    \"Service Date\": \"20250717\",\n    \"Provider\": \"DR044 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"E119\",\n      \"E669\",\n      \"R051\"\n    ],\n    \"Total Charge\": \"200.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"36415\",\n        \"Charge\": \"200.00\",\n        \"Service Date\": \"20250717\"\n      },\n      {\n        \"Procedure Code\": \"90471\",\n        \"Charge\": \"175.00\",\n        \"Service Date\": \"20250717\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000045\",\n    \"Patient\": \"KIM JOHNSON045\",\n    \"Patient ID\": \"MCID000045\",\n    \"Service Date\": \"20250718\",\n    \"Provider\": \"DR045 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"M545\",\n      \"R531\",\n      \"Z794\",\n      \"M25511\"\n    ],\n    \"Total Charge\": \"125.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"85025\",\n        \"Charge\": \"125.00\",\n        \"Service Date\": \"20250718\"\n      },\n      {\n        \"Procedure Code\": \"36415\",\n        \"Charge\": \"175.00\",\n        \"Service Date\": \"20250718\"\n      },\n      {\n        \"Procedure Code\": \"90471\",\n        \"Charge\": \"75.00\",\n        \"Service Date\": \"20250718\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000046\",\n    \"Patient\": \"SAM DAVIS046\",\n    \"Patient ID\": \"MCID000046\",\n    \"Service Date\": \"20250719\",\n    \"Provider\": \"DR046 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"Z0000\",\n      \"E669\"\n    ],\n    \"Total Charge\": \"125.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"71046\",\n        \"Charge\": \"100.00\",\n        \"Service Date\": \"20250719\"\n      },\n      {\n        \"Procedure Code\": \"93000\",\n        \"Charge\": \"75.00\",\n        \"Service Date\": \"20250719\"\n      },\n      {\n        \"Procedure Code\": \"90658\",\n        \"Charge\": \"175.00\",\n        \"Service Date\": \"20250719\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000047\",\n    \"Patient\": \"CASEY WILSON047\",\n    \"Patient ID\": \"MCID000047\",\n    \"Service Date\": \"20250720\",\n    \"Provider\": \"DR047 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"I10\",\n      \"R051\",\n      \"M25511\"\n    ],\n    \"Total Charge\": \"225.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"97110\",\n        \"Charge\": \"50.00\",\n        \"Service Date\": \"20250720\"\n      },\n      {\n        \"Procedure Code\": \"71046\",\n        \"Charge\": \"100.00\",\n        \"Service Date\": \"20250720\"\n      },\n      {\n        \"Procedure Code\": \"11721\",\n        \"Charge\": \"200.00\",\n        \"Service Date\": \"20250720\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000048\",\n    \"Patient\": \"CASEY THOMAS048\",\n    \"Patient ID\": \"MCID000048\",\n    \"Service Date\": \"20250721\",\n    \"Provider\": \"DR048 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"Z0000\",\n      \"R051\",\n      \"Z0001\",\n      \"R531\"\n    ],\n    \"Total Charge\": \"200.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"36415\",\n        \"Charge\": \"75.00\",\n        \"Service Date\": \"20250721\"\n      },\n      {\n        \"Procedure Code\": \"71046\",\n        \"Charge\": \"50.00\",\n        \"Service Date\": \"20250721\"\n      },\n      {\n        \"Procedure Code\": \"93000\",\n        \"Charge\": \"75.00\",\n        \"Service Date\": \"20250721\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000049\",\n    \"Patient\": \"DREW ANDERSON049\",\n    \"Patient ID\": \"MCID000049\",\n    \"Service Date\": \"20250722\",\n    \"Provider\": \"DR049 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"Z0000\",\n      \"R531\",\n      \"Z136\",\n      \"G4733\"\n    ],\n    \"Total Charge\": \"200.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"85025\",\n        \"Charge\": \"175.00\",\n        \"Service Date\": \"20250722\"\n      },\n      {\n        \"Procedure Code\": \"93000\",\n        \"Charge\": \"75.00\",\n        \"Service Date\": \"20250722\"\n      },\n      {\n        \"Procedure Code\": \"90658\",\n        \"Charge\": \"150.00\",\n        \"Service Date\": \"20250722\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000050\",\n    \"Patient\": \"LEE SMITH050\",\n    \"Patient ID\": \"MCID000050\",\n    \"Service Date\": \"20250723\",\n    \"Provider\": \"DR050 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"J45909\",\n      \"G4733\",\n      \"R051\"\n    ],\n    \"Total Charge\": \"200.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"97014\",\n        \"Charge\": \"50.00\",\n        \"Service Date\": \"20250723\"\n      },\n      {\n        \"Procedure Code\": \"99214\",\n        \"Charge\": \"100.00\",\n        \"Service Date\": \"20250723\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000051\",\n    \"Patient\": \"KIM MILLER051\",\n    \"Patient ID\": \"MCID000051\",\n    \"Service Date\": \"20250724\",\n    \"Provider\": \"DR051 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"J45909\",\n      \"R531\",\n      \"Z136\",\n      \"G4733\"\n    ],\n    \"Total Charge\": \"100.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"97014\",\n        \"Charge\": \"175.00\",\n        \"Service Date\": \"20250724\"\n      },\n      {\n        \"Procedure Code\": \"11721\",\n        \"Charge\": \"125.00\",\n        \"Service Date\": \"20250724\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000052\",\n    \"Patient\": \"LEE DOE052\",\n    \"Patient ID\": \"MCID000052\",\n    \"Service Date\": \"20250725\",\n    \"Provider\": \"DR052 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"Z0000\",\n      \"M25511\"\n    ],\n    \"Total Charge\": \"125.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"90658\",\n        \"Charge\": \"175.00\",\n        \"Service Date\": \"20250725\"\n      },\n      {\n        \"Procedure Code\": \"71046\",\n        \"Charge\": \"175.00\",\n        \"Service Date\": \"20250725\"\n      },\n      {\n        \"Procedure Code\": \"11721\",\n        \"Charge\": \"150.00\",\n        \"Service Date\": \"20250725\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000053\",\n    \"Patient\": \"JORDAN MOORE053\",\n    \"Patient ID\": \"MCID000053\",\n    \"Service Date\": \"20250726\",\n    \"Provider\": \"DR053 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"J45909\",\n      \"Z136\"\n    ],\n    \"Total Charge\": \"175.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"99214\",\n        \"Charge\": \"50.00\",\n        \"Service Date\": \"20250726\"\n      },\n      {\n        \"Procedure Code\": \"90471\",\n        \"Charge\": \"200.00\",\n        \"Service Date\": \"20250726\"\n      },\n      {\n        \"Procedure Code\": \"36415\",\n        \"Charge\": \"125.00\",\n        \"Service Date\": \"20250726\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000054\",\n    \"Patient\": \"ALEX MARTIN054\",\n    \"Patient ID\": \"MCID000054\",\n    \"Service Date\": \"20250727\",\n    \"Provider\": \"DR054 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"J45909\",\n      \"R531\",\n      \"E669\"\n    ],\n    \"Total Charge\": \"200.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"36415\",\n        \"Charge\": \"75.00\",\n        \"Service Date\": \"20250727\"\n      },\n      {\n        \"Procedure Code\": \"93000\",\n        \"Charge\": \"75.00\",\n        \"Service Date\": \"20250727\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000055\",\n    \"Patient\": \"ALEX ANDERSON055\",\n    \"Patient ID\": \"MCID000055\",\n    \"Service Date\": \"20250728\",\n    \"Provider\": \"DR055 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"I10\",\n      \"R051\",\n      \"Z136\",\n      \"G4733\"\n    ],\n    \"Total Charge\": \"225.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"80053\",\n        \"Charge\": \"100.00\",\n        \"Service Date\": \"20250728\"\n      },\n      {\n        \"Procedure Code\": \"93000\",\n        \"Charge\": \"100.00\",\n        \"Service Date\": \"20250728\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000056\",\n    \"Patient\": \"JORDAN SMITH056\",\n    \"Patient ID\": \"MCID000056\",\n    \"Service Date\": \"20250701\",\n    \"Provider\": \"DR056 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"I10\",\n      \"E669\"\n    ],\n    \"Total Charge\": \"100.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"97110\",\n        \"Charge\": \"175.00\",\n        \"Service Date\": \"20250701\"\n      },\n      {\n        \"Procedure Code\": \"97110\",\n        \"Charge\": \"50.00\",\n        \"Service Date\": \"20250701\"\n      },\n      {\n        \"Procedure Code\": \"90471\",\n        \"Charge\": \"100.00\",\n        \"Service Date\": \"20250701\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000057\",\n    \"Patient\": \"KIM TAYLOR057\",\n    \"Patient ID\": \"MCID000057\",\n    \"Service Date\": \"20250702\",\n    \"Provider\": \"DR057 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"K219\",\n      \"G4733\"\n    ],\n    \"Total Charge\": \"125.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"80053\",\n        \"Charge\": \"150.00\",\n        \"Service Date\": \"20250702\"\n      },\n      {\n        \"Procedure Code\": \"99213\",\n        \"Charge\": \"150.00\",\n        \"Service Date\": \"20250702\"\n      },\n      {\n        \"Procedure Code\": \"90658\",\n        \"Charge\": \"125.00\",\n        \"Service Date\": \"20250702\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000058\",\n    \"Patient\": \"JANE BROWN058\",\n    \"Patient ID\": \"MCID000058\",\n    \"Service Date\": \"20250703\",\n    \"Provider\": \"DR058 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"M545\",\n      \"Z0001\",\n      \"R051\",\n      \"M25511\"\n    ],\n    \"Total Charge\": \"150.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"36415\",\n        \"Charge\": \"125.00\",\n        \"Service Date\": \"20250703\"\n      },\n      {\n        \"Procedure Code\": \"93000\",\n        \"Charge\": \"100.00\",\n        \"Service Date\": \"20250703\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000059\",\n    \"Patient\": \"KIM THOMAS059\",\n    \"Patient ID\": \"MCID000059\",\n    \"Service Date\": \"20250704\",\n    \"Provider\": \"DR059 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"E119\",\n      \"Z0001\"\n    ],\n    \"Total Charge\": \"200.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"97110\",\n        \"Charge\": \"100.00\",\n        \"Service Date\": \"20250704\"\n      },\n      {\n        \"Procedure Code\": \"90658\",\n        \"Charge\": \"75.00\",\n        \"Service Date\": \"20250704\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000060\",\n    \"Patient\": \"LEE THOMAS060\",\n    \"Patient ID\": \"MCID000060\",\n    \"Service Date\": \"20250705\",\n    \"Provider\": \"DR060 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"Z0000\",\n      \"E669\",\n      \"Z0001\"\n    ],\n    \"Total Charge\": \"200.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"97014\",\n        \"Charge\": \"175.00\",\n        \"Service Date\": \"20250705\"\n      },\n      {\n        \"Procedure Code\": \"85025\",\n        \"Charge\": \"50.00\",\n        \"Service Date\": \"20250705\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000061\",\n    \"Patient\": \"MORGAN SMITH061\",\n    \"Patient ID\": \"MCID000061\",\n    \"Service Date\": \"20250706\",\n    \"Provider\": \"DR061 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"Z0000\",\n      \"Z136\",\n      \"E669\"\n    ],\n    \"Total Charge\": \"100.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"99213\",\n        \"Charge\": \"50.00\",\n        \"Service Date\": \"20250706\"\n      },\n      {\n        \"Procedure Code\": \"90658\",\n        \"Charge\": \"175.00\",\n        \"Service Date\": \"20250706\"\n      },\n      {\n        \"Procedure Code\": \"99213\",\n        \"Charge\": \"175.00\",\n        \"Service Date\": \"20250706\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000062\",\n    \"Patient\": \"JOHN BROWN062\",\n    \"Patient ID\": \"MCID000062\",\n    \"Service Date\": \"20250707\",\n    \"Provider\": \"DR062 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"M545\",\n      \"E669\",\n      \"R051\",\n      \"R531\"\n    ],\n    \"Total Charge\": \"225.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"97014\",\n        \"Charge\": \"200.00\",\n        \"Service Date\": \"20250707\"\n      },\n      {\n        \"Procedure Code\": \"90471\",\n        \"Charge\": \"175.00\",\n        \"Service Date\": \"20250707\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000063\",\n    \"Patient\": \"JOHN MOORE063\",\n    \"Patient ID\": \"MCID000063\",\n    \"Service Date\": \"20250708\",\n    \"Provider\": \"DR063 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"I10\",\n      \"G4733\",\n      \"R051\"\n    ],\n    \"Total Charge\": \"125.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"99213\",\n        \"Charge\": \"175.00\",\n        \"Service Date\": \"20250708\"\n      },\n      {\n        \"Procedure Code\": \"99213\",\n        \"Charge\": \"100.00\",\n        \"Service Date\": \"20250708\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000064\",\n    \"Patient\": \"KIM ANDERSON064\",\n    \"Patient ID\": \"MCID000064\",\n    \"Service Date\": \"20250709\",\n    \"Provider\": \"DR064 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"K219\",\n      \"Z0001\"\n    ],\n    \"Total Charge\": \"225.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"97110\",\n        \"Charge\": \"125.00\",\n        \"Service Date\": \"20250709\"\n      },\n      {\n        \"Procedure Code\": \"93000\",\n        \"Charge\": \"125.00\",\n        \"Service Date\": \"20250709\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000065\",\n    \"Patient\": \"KIM TAYLOR065\",\n    \"Patient ID\": \"MCID000065\",\n    \"Service Date\": \"20250710\",\n    \"Provider\": \"DR065 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"M545\",\n      \"Z136\",\n      \"R051\"\n    ],\n    \"Total Charge\": \"125.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"99213\",\n        \"Charge\": \"150.00\",\n        \"Service Date\": \"20250710\"\n      },\n      {\n        \"Procedure Code\": \"80053\",\n        \"Charge\": \"175.00\",\n        \"Service Date\": \"20250710\"\n      },\n      {\n        \"Procedure Code\": \"11721\",\n        \"Charge\": \"200.00\",\n        \"Service Date\": \"20250710\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000066\",\n    \"Patient\": \"JANE MARTIN066\",\n    \"Patient ID\": \"MCID000066\",\n    \"Service Date\": \"20250711\",\n    \"Provider\": \"DR066 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"Z0000\",\n      \"Z794\",\n      \"M25511\",\n      \"E669\"\n    ],\n    \"Total Charge\": \"100.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"11721\",\n        \"Charge\": \"150.00\",\n        \"Service Date\": \"20250711\"\n      },\n      {\n        \"Procedure Code\": \"97014\",\n        \"Charge\": \"200.00\",\n        \"Service Date\": \"20250711\"\n      },\n      {\n        \"Procedure Code\": \"97014\",\n        \"Charge\": \"125.00\",\n        \"Service Date\": \"20250711\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000067\",\n    \"Patient\": \"JANE TAYLOR067\",\n    \"Patient ID\": \"MCID000067\",\n    \"Service Date\": \"20250712\",\n    \"Provider\": \"DR067 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"I10\",\n      \"Z794\",\n      \"R531\",\n      \"R051\"\n    ],\n    \"Total Charge\": \"175.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"99213\",\n        \"Charge\": \"75.00\",\n        \"Service Date\": \"20250712\"\n      },\n      {\n        \"Procedure Code\": \"11721\",\n        \"Charge\": \"50.00\",\n        \"Service Date\": \"20250712\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000068\",\n    \"Patient\": \"JOHN DAVIS068\",\n    \"Patient ID\": \"MCID000068\",\n    \"Service Date\": \"20250713\",\n    \"Provider\": \"DR068 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"M545\",\n      \"Z136\"\n    ],\n    \"Total Charge\": \"125.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"97110\",\n        \"Charge\": \"175.00\",\n        \"Service Date\": \"20250713\"\n      },\n      {\n        \"Procedure Code\": \"71046\",\n        \"Charge\": \"200.00\",\n        \"Service Date\": \"20250713\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000069\",\n    \"Patient\": \"LEE TAYLOR069\",\n    \"Patient ID\": \"MCID000069\",\n    \"Service Date\": \"20250714\",\n    \"Provider\": \"DR069 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"M545\",\n      \"Z794\",\n      \"Z136\"\n    ],\n    \"Total Charge\": \"150.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"85025\",\n        \"Charge\": \"150.00\",\n        \"Service Date\": \"20250714\"\n      },\n      {\n        \"Procedure Code\": \"71046\",\n        \"Charge\": \"75.00\",\n        \"Service Date\": \"20250714\"\n      },\n      {\n        \"Procedure Code\": \"71046\",\n        \"Charge\": \"200.00\",\n        \"Service Date\": \"20250714\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000070\",\n    \"Patient\": \"LEE THOMAS070\",\n    \"Patient ID\": \"MCID000070\",\n    \"Service Date\": \"20250715\",\n    \"Provider\": \"DR070 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"E119\",\n      \"R531\",\n      \"Z0001\"\n    ],\n    \"Total Charge\": \"175.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"36415\",\n        \"Charge\": \"125.00\",\n        \"Service Date\": \"20250715\"\n      },\n      {\n        \"Procedure Code\": \"85025\",\n        \"Charge\": \"200.00\",\n        \"Service Date\": \"20250715\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000071\",\n    \"Patient\": \"DREW MARTIN071\",\n    \"Patient ID\": \"MCID000071\",\n    \"Service Date\": \"20250716\",\n    \"Provider\": \"DR071 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"I10\",\n      \"M25511\",\n      \"Z136\",\n      \"Z794\"\n    ],\n    \"Total Charge\": \"100.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"11721\",\n        \"Charge\": \"50.00\",\n        \"Service Date\": \"20250716\"\n      },\n      {\n        \"Procedure Code\": \"97110\",\n        \"Charge\": \"100.00\",\n        \"Service Date\": \"20250716\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000072\",\n    \"Patient\": \"SAM SMITH072\",\n    \"Patient ID\": \"MCID000072\",\n    \"Service Date\": \"20250717\",\n    \"Provider\": \"DR072 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"E119\",\n      \"E669\",\n      \"R531\",\n      \"G4733\"\n    ],\n    \"Total Charge\": \"175.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"93000\",\n        \"Charge\": \"125.00\",\n        \"Service Date\": \"20250717\"\n      },\n      {\n        \"Procedure Code\": \"80053\",\n        \"Charge\": \"150.00\",\n        \"Service Date\": \"20250717\"\n      },\n      {\n        \"Procedure Code\": \"90471\",\n        \"Charge\": \"50.00\",\n        \"Service Date\": \"20250717\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000073\",\n    \"Patient\": \"JOHN WILSON073\",\n    \"Patient ID\": \"MCID000073\",\n    \"Service Date\": \"20250718\",\n    \"Provider\": \"DR073 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"K219\",\n      \"R051\",\n      \"E669\"\n    ],\n    \"Total Charge\": \"200.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"90658\",\n        \"Charge\": \"150.00\",\n        \"Service Date\": \"20250718\"\n      },\n      {\n        \"Procedure Code\": \"99213\",\n        \"Charge\": \"150.00\",\n        \"Service Date\": \"20250718\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000074\",\n    \"Patient\": \"KIM THOMAS074\",\n    \"Patient ID\": \"MCID000074\",\n    \"Service Date\": \"20250719\",\n    \"Provider\": \"DR074 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"E119\",\n      \"E669\",\n      \"G4733\"\n    ],\n    \"Total Charge\": \"125.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"71046\",\n        \"Charge\": \"100.00\",\n        \"Service Date\": \"20250719\"\n      },\n      {\n        \"Procedure Code\": \"99214\",\n        \"Charge\": \"175.00\",\n        \"Service Date\": \"20250719\"\n      },\n      {\n        \"Procedure Code\": \"97110\",\n        \"Charge\": \"125.00\",\n        \"Service Date\": \"20250719\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000075\",\n    \"Patient\": \"JANE SMITH075\",\n    \"Patient ID\": \"MCID000075\",\n    \"Service Date\": \"20250720\",\n    \"Provider\": \"DR075 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"K219\",\n      \"Z0001\",\n      \"Z136\"\n    ],\n    \"Total Charge\": \"225.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"11721\",\n        \"Charge\": \"175.00\",\n        \"Service Date\": \"20250720\"\n      },\n      {\n        \"Procedure Code\": \"93000\",\n        \"Charge\": \"150.00\",\n        \"Service Date\": \"20250720\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000076\",\n    \"Patient\": \"JORDAN WILSON076\",\n    \"Patient ID\": \"MCID000076\",\n    \"Service Date\": \"20250721\",\n    \"Provider\": \"DR076 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"Z0000\",\n      \"Z0001\",\n      \"R051\"\n    ],\n    \"Total Charge\": \"150.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"97110\",\n        \"Charge\": \"125.00\",\n        \"Service Date\": \"20250721\"\n      },\n      {\n        \"Procedure Code\": \"97110\",\n        \"Charge\": \"150.00\",\n        \"Service Date\": \"20250721\"\n      },\n      {\n        \"Procedure Code\": \"85025\",\n        \"Charge\": \"50.00\",\n        \"Service Date\": \"20250721\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000077\",\n    \"Patient\": \"JORDAN ANDERSON077\",\n    \"Patient ID\": \"MCID000077\",\n    \"Service Date\": \"20250722\",\n    \"Provider\": \"DR077 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"Z0000\",\n      \"M25511\",\n      \"E669\"\n    ],\n    \"Total Charge\": \"200.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"11721\",\n        \"Charge\": \"175.00\",\n        \"Service Date\": \"20250722\"\n      },\n      {\n        \"Procedure Code\": \"85025\",\n        \"Charge\": \"100.00\",\n        \"Service Date\": \"20250722\"\n      },\n      {\n        \"Procedure Code\": \"93000\",\n        \"Charge\": \"150.00\",\n        \"Service Date\": \"20250722\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000078\",\n    \"Patient\": \"MORGAN WILSON078\",\n    \"Patient ID\": \"MCID000078\",\n    \"Service Date\": \"20250723\",\n    \"Provider\": \"DR078 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"J45909\",\n      \"Z136\"\n    ],\n    \"Total Charge\": \"150.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"97110\",\n        \"Charge\": \"125.00\",\n        \"Service Date\": \"20250723\"\n      },\n      {\n        \"Procedure Code\": \"71046\",\n        \"Charge\": \"100.00\",\n        \"Service Date\": \"20250723\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000079\",\n    \"Patient\": \"KIM BROWN079\",\n    \"Patient ID\": \"MCID000079\",\n    \"Service Date\": \"20250724\",\n    \"Provider\": \"DR079 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"J45909\",\n      \"Z794\"\n    ],\n    \"Total Charge\": \"125.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"97014\",\n        \"Charge\": \"50.00\",\n        \"Service Date\": \"20250724\"\n      },\n      {\n        \"Procedure Code\": \"11721\",\n        \"Charge\": \"175.00\",\n        \"Service Date\": \"20250724\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000080\",\n    \"Patient\": \"JORDAN ANDERSON080\",\n    \"Patient ID\": \"MCID000080\",\n    \"Service Date\": \"20250725\",\n    \"Provider\": \"DR080 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"I10\",\n      \"R531\",\n      \"E669\",\n      \"M25511\"\n    ],\n    \"Total Charge\": \"125.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"97110\",\n        \"Charge\": \"200.00\",\n        \"Service Date\": \"20250725\"\n      },\n      {\n        \"Procedure Code\": \"93000\",\n        \"Charge\": \"100.00\",\n        \"Service Date\": \"20250725\"\n      },\n      {\n        \"Procedure Code\": \"90471\",\n        \"Charge\": \"50.00\",\n        \"Service Date\": \"20250725\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000081\",\n    \"Patient\": \"TAYLOR ANDERSON081\",\n    \"Patient ID\": \"MCID000081\",\n    \"Service Date\": \"20250726\",\n    \"Provider\": \"DR081 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"Z0000\",\n      \"Z136\",\n      \"R051\"\n    ],\n    \"Total Charge\": \"100.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"97110\",\n        \"Charge\": \"175.00\",\n        \"Service Date\": \"20250726\"\n      },\n      {\n        \"Procedure Code\": \"99214\",\n        \"Charge\": \"50.00\",\n        \"Service Date\": \"20250726\"\n      },\n      {\n        \"Procedure Code\": \"99214\",\n        \"Charge\": \"175.00\",\n        \"Service Date\": \"20250726\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000082\",\n    \"Patient\": \"RILEY JOHNSON082\",\n    \"Patient ID\": \"MCID000082\",\n    \"Service Date\": \"20250727\",\n    \"Provider\": \"DR082 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"Z0000\",\n      \"M25511\",\n      \"Z136\",\n      \"Z0001\"\n    ],\n    \"Total Charge\": \"225.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"99213\",\n        \"Charge\": \"50.00\",\n        \"Service Date\": \"20250727\"\n      },\n      {\n        \"Procedure Code\": \"11721\",\n        \"Charge\": \"200.00\",\n        \"Service Date\": \"20250727\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000083\",\n    \"Patient\": \"MORGAN JOHNSON083\",\n    \"Patient ID\": \"MCID000083\",\n    \"Service Date\": \"20250728\",\n    \"Provider\": \"DR083 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"I10\",\n      \"Z136\",\n      \"Z0001\"\n    ],\n    \"Total Charge\": \"100.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"97014\",\n        \"Charge\": \"175.00\",\n        \"Service Date\": \"20250728\"\n      },\n      {\n        \"Procedure Code\": \"90658\",\n        \"Charge\": \"50.00\",\n        \"Service Date\": \"20250728\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000084\",\n    \"Patient\": \"DREW MOORE084\",\n    \"Patient ID\": \"MCID000084\",\n    \"Service Date\": \"20250701\",\n    \"Provider\": \"DR084 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"I10\",\n      \"Z0001\",\n      \"R531\",\n      \"G4733\"\n    ],\n    \"Total Charge\": \"200.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"11721\",\n        \"Charge\": \"125.00\",\n        \"Service Date\": \"20250701\"\n      },\n      {\n        \"Procedure Code\": \"80053\",\n        \"Charge\": \"75.00\",\n        \"Service Date\": \"20250701\"\n      },\n      {\n        \"Procedure Code\": \"85025\",\n        \"Charge\": \"50.00\",\n        \"Service Date\": \"20250701\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000085\",\n    \"Patient\": \"SAM ANDERSON085\",\n    \"Patient ID\": \"MCID000085\",\n    \"Service Date\": \"20250702\",\n    \"Provider\": \"DR085 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"I10\",\n      \"M25511\",\n      \"E669\",\n      \"R051\"\n    ],\n    \"Total Charge\": \"100.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"99213\",\n        \"Charge\": \"175.00\",\n        \"Service Date\": \"20250702\"\n      },\n      {\n        \"Procedure Code\": \"97014\",\n        \"Charge\": \"125.00\",\n        \"Service Date\": \"20250702\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000086\",\n    \"Patient\": \"RILEY MOORE086\",\n    \"Patient ID\": \"MCID000086\",\n    \"Service Date\": \"20250703\",\n    \"Provider\": \"DR086 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"K219\",\n      \"E669\",\n      \"Z0001\",\n      \"R051\"\n    ],\n    \"Total Charge\": \"125.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"99214\",\n        \"Charge\": \"100.00\",\n        \"Service Date\": \"20250703\"\n      },\n      {\n        \"Procedure Code\": \"90658\",\n        \"Charge\": \"100.00\",\n        \"Service Date\": \"20250703\"\n      },\n      {\n        \"Procedure Code\": \"90471\",\n        \"Charge\": \"175.00\",\n        \"Service Date\": \"20250703\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000087\",\n    \"Patient\": \"ALEX MARTIN087\",\n    \"Patient ID\": \"MCID000087\",\n    \"Service Date\": \"20250704\",\n    \"Provider\": \"DR087 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"I10\",\n      \"R051\",\n      \"E669\"\n    ],\n    \"Total Charge\": \"100.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"71046\",\n        \"Charge\": \"125.00\",\n        \"Service Date\": \"20250704\"\n      },\n      {\n        \"Procedure Code\": \"85025\",\n        \"Charge\": \"75.00\",\n        \"Service Date\": \"20250704\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000088\",\n    \"Patient\": \"JORDAN MILLER088\",\n    \"Patient ID\": \"MCID000088\",\n    \"Service Date\": \"20250705\",\n    \"Provider\": \"DR088 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"K219\",\n      \"E669\"\n    ],\n    \"Total Charge\": \"200.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"99213\",\n        \"Charge\": \"100.00\",\n        \"Service Date\": \"20250705\"\n      },\n      {\n        \"Procedure Code\": \"93000\",\n        \"Charge\": \"100.00\",\n        \"Service Date\": \"20250705\"\n      },\n      {\n        \"Procedure Code\": \"36415\",\n        \"Charge\": \"75.00\",\n        \"Service Date\": \"20250705\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000089\",\n    \"Patient\": \"ALEX MARTIN089\",\n    \"Patient ID\": \"MCID000089\",\n    \"Service Date\": \"20250706\",\n    \"Provider\": \"DR089 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"E119\",\n      \"M25511\"\n    ],\n    \"Total Charge\": \"125.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"90658\",\n        \"Charge\": \"175.00\",\n        \"Service Date\": \"20250706\"\n      },\n      {\n        \"Procedure Code\": \"80053\",\n        \"Charge\": \"125.00\",\n        \"Service Date\": \"20250706\"\n      },\n      {\n        \"Procedure Code\": \"11721\",\n        \"Charge\": \"150.00\",\n        \"Service Date\": \"20250706\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000090\",\n    \"Patient\": \"DREW MOORE090\",\n    \"Patient ID\": \"MCID000090\",\n    \"Service Date\": \"20250707\",\n    \"Provider\": \"DR090 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"E119\",\n      \"R531\",\n      \"G4733\"\n    ],\n    \"Total Charge\": \"175.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"99214\",\n        \"Charge\": \"100.00\",\n        \"Service Date\": \"20250707\"\n      },\n      {\n        \"Procedure Code\": \"11721\",\n        \"Charge\": \"100.00\",\n        \"Service Date\": \"20250707\"\n      },\n      {\n        \"Procedure Code\": \"97014\",\n        \"Charge\": \"100.00\",\n        \"Service Date\": \"20250707\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000091\",\n    \"Patient\": \"RILEY JOHNSON091\",\n    \"Patient ID\": \"MCID000091\",\n    \"Service Date\": \"20250708\",\n    \"Provider\": \"DR091 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"Z0000\",\n      \"Z794\"\n    ],\n    \"Total Charge\": \"125.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"85025\",\n        \"Charge\": \"150.00\",\n        \"Service Date\": \"20250708\"\n      },\n      {\n        \"Procedure Code\": \"99214\",\n        \"Charge\": \"50.00\",\n        \"Service Date\": \"20250708\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000092\",\n    \"Patient\": \"JOHN SMITH092\",\n    \"Patient ID\": \"MCID000092\",\n    \"Service Date\": \"20250709\",\n    \"Provider\": \"DR092 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"J45909\",\n      \"E669\",\n      \"M25511\",\n      \"R051\"\n    ],\n    \"Total Charge\": \"150.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"11721\",\n        \"Charge\": \"100.00\",\n        \"Service Date\": \"20250709\"\n      },\n      {\n        \"Procedure Code\": \"71046\",\n        \"Charge\": \"100.00\",\n        \"Service Date\": \"20250709\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000093\",\n    \"Patient\": \"LEE JOHNSON093\",\n    \"Patient ID\": \"MCID000093\",\n    \"Service Date\": \"20250710\",\n    \"Provider\": \"DR093 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"M545\",\n      \"E669\"\n    ],\n    \"Total Charge\": \"200.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"11721\",\n        \"Charge\": \"75.00\",\n        \"Service Date\": \"20250710\"\n      },\n      {\n        \"Procedure Code\": \"71046\",\n        \"Charge\": \"75.00\",\n        \"Service Date\": \"20250710\"\n      },\n      {\n        \"Procedure Code\": \"36415\",\n        \"Charge\": \"125.00\",\n        \"Service Date\": \"20250710\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000094\",\n    \"Patient\": \"JORDAN JOHNSON094\",\n    \"Patient ID\": \"MCID000094\",\n    \"Service Date\": \"20250711\",\n    \"Provider\": \"DR094 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"K219\",\n      \"E669\",\n      \"Z0001\"\n    ],\n    \"Total Charge\": \"225.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"36415\",\n        \"Charge\": \"75.00\",\n        \"Service Date\": \"20250711\"\n      },\n      {\n        \"Procedure Code\": \"11721\",\n        \"Charge\": \"100.00\",\n        \"Service Date\": \"20250711\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000095\",\n    \"Patient\": \"JORDAN TAYLOR095\",\n    \"Patient ID\": \"MCID000095\",\n    \"Service Date\": \"20250712\",\n    \"Provider\": \"DR095 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"E119\",\n      \"M25511\",\n      \"Z794\",\n      \"G4733\"\n    ],\n    \"Total Charge\": \"125.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"99214\",\n        \"Charge\": \"125.00\",\n        \"Service Date\": \"20250712\"\n      },\n      {\n        \"Procedure Code\": \"36415\",\n        \"Charge\": \"125.00\",\n        \"Service Date\": \"20250712\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000096\",\n    \"Patient\": \"MORGAN BROWN096\",\n    \"Patient ID\": \"MCID000096\",\n    \"Service Date\": \"20250713\",\n    \"Provider\": \"DR096 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"E119\",\n      \"R531\"\n    ],\n    \"Total Charge\": \"175.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"97110\",\n        \"Charge\": \"200.00\",\n        \"Service Date\": \"20250713\"\n      },\n      {\n        \"Procedure Code\": \"36415\",\n        \"Charge\": \"100.00\",\n        \"Service Date\": \"20250713\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000097\",\n    \"Patient\": \"ALEX TAYLOR097\",\n    \"Patient ID\": \"MCID000097\",\n    \"Service Date\": \"20250714\",\n    \"Provider\": \"DR097 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"E119\",\n      \"E669\",\n      \"R531\"\n    ],\n    \"Total Charge\": \"150.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"97014\",\n        \"Charge\": \"50.00\",\n        \"Service Date\": \"20250714\"\n      },\n      {\n        \"Procedure Code\": \"80053\",\n        \"Charge\": \"50.00\",\n        \"Service Date\": \"20250714\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000098\",\n    \"Patient\": \"DREW MOORE098\",\n    \"Patient ID\": \"MCID000098\",\n    \"Service Date\": \"20250715\",\n    \"Provider\": \"DR098 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"J45909\",\n      \"R051\",\n      \"Z0001\",\n      \"M25511\"\n    ],\n    \"Total Charge\": \"125.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"90658\",\n        \"Charge\": \"200.00\",\n        \"Service Date\": \"20250715\"\n      },\n      {\n        \"Procedure Code\": \"90471\",\n        \"Charge\": \"50.00\",\n        \"Service Date\": \"20250715\"\n      },\n      {\n        \"Procedure Code\": \"99213\",\n        \"Charge\": \"100.00\",\n        \"Service Date\": \"20250715\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000099\",\n    \"Patient\": \"JOHN MOORE099\",\n    \"Patient ID\": \"MCID000099\",\n    \"Service Date\": \"20250716\",\n    \"Provider\": \"DR099 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"K219\",\n      \"Z794\"\n    ],\n    \"Total Charge\": \"150.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"99213\",\n        \"Charge\": \"200.00\",\n        \"Service Date\": \"20250716\"\n      },\n      {\n        \"Procedure Code\": \"80053\",\n        \"Charge\": \"200.00\",\n        \"Service Date\": \"20250716\"\n      }\n    ]\n  },\n  {\n    \"Claim Number\": \"CLM000100\",\n    \"Patient\": \"JOHN DOE100\",\n    \"Patient ID\": \"MCID000100\",\n    \"Service Date\": \"20250717\",\n    \"Provider\": \"DR100 RENDERINGPROV\",\n    \"Diagnosis Codes\": [\n      \"K219\",\n      \"R531\",\n      \"Z794\"\n    ],\n    \"Total Charge\": \"125.00\",\n    \"Services Rendered\": [\n      {\n        \"Procedure Code\": \"11721\",\n        \"Charge\": \"200.00\",\n        \"Service Date\": \"20250717\"\n      },\n      {\n        \"Procedure Code\": \"36415\",\n        \"Charge\": \"50.00\",\n        \"Service Date\": \"20250717\"\n      },\n      {\n        \"Procedure Code\": \"97110\",\n        \"Charge\": \"150.00\",\n        \"Service Date\": \"20250717\"\n      }\n    ]\n  }\n]\n```"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-27T20:18:58.000Z",
  "versionId": "b0104ac4-76c7-496e-95b5-bfe90202599c"
}